@using FarmersDiary.Core.Models;
@model FarmerViewModel

<section class="add-profile-section">
    <article class="adding-profile">
        <form method="post">
            <label for="Name">Name</label>
            <input id="Name" type="text" name="Name" value="" />
            <label for="Surname">Surname</label>
            <input id="Surname" type="text" name="Surname" value="" />
            <label for="Address">Address</label>
            <input id="Address" type="text" name="Address" value="" />
             <label for="Email">Email</label>
            <input id="Email" type="text" name="Email" value="" />
            <button style="color:antiquewhite; font-size:16px" type="submit">Submit</button>
        </form>
    </article>
</section>



