@{
    Layout = "../Shared/_Layout.cshtml";
}

<section class="board">
    <article>
        <form method="post">
            <label for="RegistationPlate">RegistationPlate</label>
            <input type="text" id="RegistationPlate" name="RegistationPlate" />

            <label for="VehicleCategory">VehicleCategory</label>
            <input type="text" id="VehicleCategory" name="VehicleCategory" />

            <label for="Make">Make</label>
            <input type="text" id="Make" name="Make" />

            <label for="Model">Model</label>
            <input type="text" id="Model" name="Model" />

            <input type="submit"/>
        </form>
    </article>
</section>