@using FarmersDiary.Core.Models;
@{
    Layout = "../Shared/_Layout.cshtml";
    var fathers = ViewBag.fatheres;
}

@model LabourViewModel;

<section class="board">
    <article>
        <form method="post">
            <div style="display:none">
                <label for="ModerId">Mother</label>
                <select id="MotherId" name="MotherId">
                    <option value="@Model.MotherId"></option>
                </select>
            </div>

            <label for="FatherId">Father</label>
            <select id="FatherId" name="FatherId">
                @foreach (var item in fathers)
                {
                    <option value="@item.Id">@item.Number</option>
                }
            </select>

            <label for="Date">Date</label>
            <input type="date" id="Date" name="Date" value="@Model.Date" />

            <input type="submit" />

        </form>
    </article>
</section>
