@{
    ViewData["Title"] = "Home Page";
}

 <article class="index-article" style="background-color:lightgray">
                <h3>Continue as a farmer</h3>
                <p>By doing that you will be able to offer your ptoducts stright to the local citizens</p>
                <a class="nav-link text-dark" asp-area="Client" asp-controller="Farmer" asp-action="AddProfile">Contiue</a>
            </article>
