@{
    Layout = "../Shared/_Layout.cshtml";
}
<section class="board">
    <article>
        <form method="post">
            <label for="farmName">Name</label>
            <input type="text" id="farmName" name="Name" />

            <label for="farmDescription">Desctiption</label>
            <input type="text" id="farmDescription" name="Description" />

            <label for="farmAnimalCategory">AnimalCategory</label>
            <input type="text" id="farmAnimalCategory" name="AnimalCategory" />

            <label for="farmProductiveCategory">ProductiveCategory</label>
            <input type="text" id="farmProductiveCategory" name="ProductiveCategory" />

            <label for="farmNumberOfAnimals">NumberOfAnimals</label>
            <input type = "text" id="farmNumberOfAnimals" name="NumberOfAnimals">

            <input type="submit" />

        </form>
    </article>
</section>
