@{
    Layout = "../Shared/_Layout.cshtml";
}

<section class="board">
    <article>
        <form method="post">
            <label for="Number">Number</label>
            <input type="text" id="Number" name="Number" />

            <label for="Location">Location</label>
            <input type="text" id="Location" name="Location" />

            <label for="Description">Description</label>
            <input type="text" id="Description" name="Description" />

            <label for="Area">Area</label>
            <input type="text" id="Area" name="Area" />

            <input type="submit"/>
        </form>
    </article>
</section>
